.container{
    width: 90%;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.65%
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
@media screen and (min-width:576px){
    .col-sm-1{
        width: 8.33%;
    }
    
    .col-sm-2{
        width: 50%;
    }
    
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.65%
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.31%;
    }
    .col-sm-8{
        width: 66.64%;
    }
    
    .col-sm-9{
        width: 75%;
    }
    
    .col-sm-10{
        width: 83.3%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    
    .col-sm-12{
        width: 100%;
    }
    
}
@media screen and (min-width:768px){
    .col-md-1{
        width: 8.33%;
    }
    
    .col-md-2{
        width: 50%;
    }
    
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.65%
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.31%;
    }
    .col-md-8{
        width: 66.64%;
    }
    
    .col-md-9{
        width: 75%;
    }
    
    .col-md-10{
        width: 83.3%;
    }
    .col-md-11{
        width: 91.66%;
    }
    
    .col-md-12{
        width: 100%;
    }
}

/* @media screen and (min-width:992px){
    .col-lg-1{
        width: 8.33%;
    }
    
    .col-lg-2{
        width: 50%;
    }
    
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.65%
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.31%;
    }
    .col-lg-8{
        width: 66.64%;
    }
    
    .col-lg-9{
        width: 75%;
    }
    
    .col-lg-10{
        width: 83.3%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    
    .col-lg-12{
        width: 100%;
    }
} */
