.portfolio{
   
}
.portfolio .leftside{
}
.portfolio .rightside{

}
.portfolio .leftside img{

}
.portfolio .leftside ul{

}
.portfolio .leftside ul li{

}
.portfolio .leftside .media{

}
.portfolio .rightside .top-side{
    padding: 30px 0;
}
.bottom-side img{
    width: 100%;
    height: 100%;
}
.bottom-side .box{
    padding: 5px;
}
.portfolio .respons-left{
    

}
.portfolio .respons-left img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
@media screen and (min-width:926px)  {
    .portfolio .respons-left{
        display: none;
    }
    .portfolio .leftside{
        display: block;
    }
 
}
@media screen and (max-width:926px){
    .portfolio .leftside{
        display: none;
    }
    .portfolio .respons-left{
        display: block;
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    }
}